In [1]:
import pandas as pd

cars_data=pd.read_csv('../../DataSets/Toyota.csv',index_col=0,na_values=['??','????'])
cars_data1=cars_data.copy()

In [2]:
print("Getting no of missing values in each column")
print(cars_data1.isna().sum())

Getting no of missing values in each column
Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [4]:
print("Getting the rows which have atleast one column value missing")

missing=cars_data1[cars_data1.isnull().any(axis=1)]
print(missing)

Getting the rows which have atleast one column value missing
      Price   Age       KM FuelType    HP  MetColor  Automatic    CC Doors  \
2     13950  24.0  41711.0   Diesel  90.0       NaN          0  2000     3
6     16900  27.0      NaN   Diesel   NaN       NaN          0  2000     3
7     18600  30.0  75889.0      NaN  90.0       1.0          0  2000     3
9     12950  23.0  71138.0   Diesel   NaN       NaN          0  1900     3
15    22000  28.0  18739.0   Petrol   NaN       0.0          0  1800     3
...     ...   ...      ...      ...   ...       ...        ...   ...   ...
1428   8450  72.0      NaN   Petrol  86.0       NaN          0  1300     3
1431   7500   NaN  20544.0   Petrol  86.0       1.0          0  1300     3
1432  10845  72.0      NaN   Petrol  86.0       0.0          0  1300     3
1433   8500   NaN  17016.0   Petrol  86.0       0.0          0  1300     3
1434   7250  70.0      NaN      NaN  86.0       1.0          0  1300     3

      Weight
2       1165
6       1245
7       1245
9       1105
15      1185
...      ...
1428    1015
1431    1025
1432    1015
1433    1015
1434    1015

[340 rows x 10 columns]

In [6]:
print("Getting information stats about give Data")
description=cars_data1.describe()
print(description)

Getting information stats about give Data
              Price          Age             KM           HP     MetColor  \
count   1436.000000  1336.000000    1421.000000  1430.000000  1286.000000
mean   10730.824513    55.672156   68647.239972   101.478322     0.674961
std     3626.964585    18.589804   37333.023589    14.768255     0.468572
min     4350.000000     1.000000       1.000000    69.000000     0.000000
25%     8450.000000    43.000000   43210.000000    90.000000     0.000000
50%     9900.000000    60.000000   63634.000000   110.000000     1.000000
75%    11950.000000    70.000000   87000.000000   110.000000     1.000000
max    32500.000000    80.000000  243000.000000   192.000000     1.000000

         Automatic           CC      Weight
count  1436.000000  1436.000000  1436.00000
mean      0.055710  1566.827994  1072.45961
std       0.229441   187.182436    52.64112
min       0.000000  1300.000000  1000.00000
25%       0.000000  1400.000000  1040.00000
50%       0.000000  1600.000000  1070.00000
75%       0.000000  1600.000000  1085.00000
max       1.000000  2000.000000  1615.00000

In [7]:
print("Filling all the missing values in one shot using lambda function")
print("Filling all missing values in one shot using lambda function")
cars_data1=cars_data1.apply(lambda x: x.fillna(x.mean()) if x.dtype=='float' else x.fillna(x.mode()[0]))

print(cars_data1.isna().sum())

Filling all the missing values in one shot using lambda function
Filling all missing values in one shot using lambda function
Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64